## 1. 클래스

### 1) 클래스 정의

In [1]:
# 함수로 작성했을 때
# 예제_1) # 함수를 호출할때마다 5씩 증가해서 결과값을 저장
# 예제_2) # 함수를 호출할때마다 10씩 증가해서 결과값을 저장
# 예제_3) # 함수를 호출할때마다 20씩 증가해서 결과값을 저장

result1 = 0
result2 = 0
result3 = 0

def add1(num):
   return result1 +num

def add2(num):
   return result2 +num

def add3(num):
   return result3 +num
    
result1 = add1(5)
result1 = add1(5)
print(result1)

result2 = add1(10)
result2 = add1(10)
print(result2)

result3 = add1(20)
result3 = add1(20)
print(result3)

10
20
30

In [22]:
# 클래스로 작성했을 때

class AddClass:
    def __init__(self):
        self.result = 0
        self.var = ""
    def add(self, num):
        self.result += num
        return self.result

result1 = AddClass()
print(result1.add(5))   
print(result1.add(5))



result2 = AddClass()
print(result2.add(10))
print(result2.add(10))




result3 = AddClass()
print(result3.add(20))
print(result3.add(20))


print("-------------------------")
print(result1.result)
print(result2.result)
print(result3.result)

print("-------------------------")
a = 10
b = 20
c = 30

result1.result = 100
result2.result = 200
result3.result = 300

result1.var = "해피"
result2.var = "흰둥이"
result3.var = "test3"

print(a)
print(b)
print(c)
print(result1.result, result1.var)
print(result2.result, result2.var)
print(result3.result, result3.var)

5
10
10
20
20
40
-------------------------
10
20
40
-------------------------
10
20
30
100 해피
200 흰둥이
300 test3

In [16]:
class Person:
    def default_print(self):
        print("Person class의 default_print 메서드를 실행하였습니다.")
    def dafault_return(self):
        return "Person class의 default_return 메서드를 실행하였습니다."
    
p1 = Person()

p1.default_print()
print(p1.default_return())

Person class의 default_print 메서드를 실행하였습니다.

AttributeError: 'Person' object has no attribute 'default_return'

### 2) 인스턴스 변수

In [41]:
class Person:
    def set_data(self, id, nane, major, phone):
        self.id = id
        self.name = name
        self.major = major
        self.phone = phone
        
      #  print(f"학번 : {self,id}, 이름 : {self.name}, 학과 : {self.major}, 연락처 : {self.phone}")
        
    def prin_data(self):
        print(f"학번 : {self.id}, 이름 : {self.name}, 학과 : {self.major}, 연락처:{self.phone}")
        
p1 = Person()
p1.set_data(1001, "홍길동", "경영학", "010")
p1.prn_data()

p1.phone = "02"
print("인스턴스 p1의 phone 값 : " + p1.phone)

NameError: name 'name' is not defined

### 3) 클래스의 인스턴스 변수 확인

In [42]:
class Person:
    pass
class ClubMember(Person):
    pass
class Subject():
    pass
p, c, s = Person(), ClubMember(), Subject()
print(isinstance(p, Person))
print(isinstance(c, ClubMember))
print(isinstance(c, Person))
print(isinstance(p, ClubMember))
print(isinstance(s, Person))
print(isinstance(p, object))

True
True
True
False
False
True

### 4) 캡슐화

In [2]:
class Person:
    def set_data(self, name, age):
        self.name = name
        self.age = age
        print(f"이름 : {self.name}, 나이 : {self.age}")
        
p1 = Person()
p1.set_data("홍길동", 30)
p1.age = -30
print(p1.name, p1.age)

p1.set_data("테스트", -35)

이름 : 홍길동, 나이 : 30
홍길동 -30
이름 : 테스트, 나이 : -35

In [11]:
# setter/getter 사용 예제
class Person:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age
        print(f"이름 : {self.__name}, 나이 : {self.__age}")
    def set_age(self, age):
        if age > 0:
            self.__age = age
    def get__age(self):
        return self.__age
    
p1 = Person("홍길동", 30)
p1.set_age(25)
print(p1.get__age())

p1._age = 35
print(p1.__age)
print(p1.get_age())

p1._Person__age = -30
print(p1.get_age())


dir(p1)

이름 : 홍길동, 나이 : 30
25

AttributeError: 'Person' object has no attribute '__age'

## 2. 생성자

### 1) 인자값 없는 생성자

In [12]:
class Person:
    def __init__(self):
        print("Person class의 생성자(초기 메서드)가 실행되었습니다.")
        
p1 = Person()

Person class의 생성자(초기 메서드)가 실행되었습니다.

### 2) 인자값 있는 생성자

In [20]:
class Person:
    def __init__(self, id, name, major, phone):
        self.id = id
        self.name = name
        self.major = major
        self.phone = phone
        print(f"학번 : {id}, 이름 : {name}, 학과 : {major}, 연락처 : {self.phone}")
#         print(f"학번 : {self.id}, 이름 : {self.name}, 학과 : {self.major}, 연락처 : {self.phone}")

p1 = Person(1001, "홍길동", "경영학", "010")
p2 = Person(2001, "강감찬", "전자공학", "02")

p1.phone = "011"
print(p1.phone)

print(p2.phone)

p1.phone2 = 30
print(p1.phone2)



print(dir(p1))
print("_______________________________________________________")
print(dir(p2))

학번 : 1001, 이름 : 홍길동, 학과 : 경영학, 연락처 : 010
학번 : 2001, 이름 : 강감찬, 학과 : 전자공학, 연락처 : 02
011
02
30
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'id', 'major', 'name', 'phone', 'phone2']
_______________________________________________________
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'id', 'major', 'name', 'phone']

### 3) 상속

In [21]:
# 기본 구문

class Person:
    def ptest():
        pass
    
class ClubMember(Person):
    def ctest(self):
        pass
    
print(dir(Person))
print("---------------------------------")
print(dir(ClubMember))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'ptest']
---------------------------------
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'ctest', 'ptest']

In [22]:
# 부모클래스 생성자 예제

class Person:
    def __init__(self, id, name, major):
        self.id = id
        self.name = name
        self.major = major
        print(f"학번 : {self.id}, 이름 : {self.name}, 학과 : {self.major}")
        
class ClubMember(Person):
    def club(self, clubname):
        self.clubname = clubname
        print(f"{self.name} 학생은 {self.clubname} 동아리 회원입니다.")
    
p = Person(100, "홍길동", "경영학")
    
c1 = ClubMember(1001, "홍길동", "경영학")
c1.club("프로그램 개발")

학번 : 1001, 이름 : 홍길동, 학과 : 경영학
홍길동 학생은 프로그램 개발 동아리 회원입니다.

In [24]:
# 상속관계 확인

class Person:
    pass
class ClubMember(Person):
    pass
p = Person()
c = ClubMember()
print(issubclass(ClubMember, Person))
print(issubclass(Person, ClubMember))
print(issubclass(Person, object))
print(issubclass(ClubMember, object))

True
False
True
True

In [29]:
# 메서드 재정의

class Person:
    def __init__(self, name):
        self.name = name
    def info(self):
        print(f"이름 : {self.name}")
        
class ClubMember(Person):
    def club(self, clubname):
        self.clubname = clubname
    def info(self):
         print(f"{self.name} 학생은 {self.clubname} 동아리 회원입니다.")
        
        
c1 = ClubMember("홍길동")
c1.club("프로그램 개발")
c1.info()

홍길동 학생은 프로그램 개발 동아리 회원입니다.

### 4. 클래스 변수

In [31]:
class Person:
    num = 0
    def __init__(self):
        Person.num += 1
    
print(Person.num)
print("-----------인스턴스 생성 후----------")
p1 = Person()
print(Person.num)
print(p1.num)

p2 = Person()
print(Person.num)
print(p1.num)
print(p2.num)

0
-----------인스턴스 생성 후----------
1
1
2
2
2

### 5. 다양한 메서드

## 1) 클래스 메서드

In [44]:
class SumPoint:
    total = 0
    def __init__(self, point):
        self.point = point
        SumPoint.total += point
        
    @classmethod
    def getsum(cls):
        print(cls.total)
        

SumPoint.getsum()
s1 = SumPoint(95)

print("-----------------------")

print(SumPoint.total)

SumPoint.getsum()

print(s1.total)

s1.getsum()

SumPoint.total = 200
SumPoint.getsum()

s1.total = 500



s1.getsum()
print(s1.total)

0
-----------------------
95
95
95
95
200
200
500

In [45]:
# 클래스 메서드 상속 예제

class ParentPoint:
    point = 1
    
    @classmethod
    def mul(cls, num):
        return cls.point * num
    
class ChildPoint(ParentPoint):
    point = 5
    
print(ChildPoint.mul(4))

print(ParentPoint.mul(4))

20
4

### 2) 정적 메서드

In [46]:
# 정적 메서드

class SumPoint:
    @staticmethod
    def plus(a,b,c):
        print(a+b+c)

SumPoint.plus(10,20,30)

s1 = SumPoint()
s1.plus(10,20,30)

60
60

### 3) 문자열화 메서드 / 인스턴스 속

In [53]:
class Person:
    def __init__(self, id, name, major):
        self.id = id
        self.name = name
        self.major = major
    def __str__(self):
        return f"학번 : {self.id}, 이름: {self.name}, 학과: {self.major}"
    
p1 = Person(1001, "홍길동","경영학")
print(p1)

학번 : 1001, 이름: 홍길동, 학과: 경영학